@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400');

.Toastify {
	display: none;
}

.layout-editor-inner-container + .layout-container {
	display: none !important;
}

.layout {
	--scale: 100;
	--bottom: 290px;
	--right: 50px;

    position: fixed;
    bottom: var(--bottom);
    right: var(--right);
    text-shadow: none !important;
	transform-origin: bottom right;
	transform: scale(calc(var(--scale) / 100));
}

.splits {
	--max-visible-splits: 20;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    position: absolute;
    bottom: 108px;
    right: 0;
	height: calc(var(--max-visible-splits) * 46px);
    overflow: hidden;
}

.split {
    height: 46px !important;
    font-size: 24px;
    transition: 0.6s;
}

.split-rows {
    height: 44px !important;
    margin-top: 2px;
}

.current-split ~ .split {
    height: 0 !important;
    transition: none;
}

.split-row {
    position: absolute !important;
}

.split-first-row {
    right: 92px;
    background: rgba(0,0,0,0.8);
    border-radius: 12px 0 0 12px;
}

.split-second-row {
    right: 0;
    width: 92px !important;
    height: 100% !important;
    justify-content: center !important;
    background: rgba(0,0,0,0.95);
}

.split:first-of-type .split-second-row {
    border-radius: 0 12px 0 0;
}

.split-name {
    padding: 8px 16px !important;
}

.split-time {
    padding: 0 !important;
}

.split-name, .timer-time {
    font-family: Roboto;
    font-weight: 300;
}

.split-time, .key-value-key, .key-value-value {
    font-family: Roboto;
    font-weight: 400;
}

.timer {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.timer:before {
    content: '';
    position: absolute;
    right: 0;
    width: 157px;
    height: 100%;
    background: rgba(0,0,0,0.95);
    border-radius: 12px 0 0 0;
    z-index: -1;
}

.Timer0 {
    filter: none !important;
}

.timer-time {
    font-size: 48px !important;
    transform: translate(-11px, -7px);
}

.layout:before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 157px;
    height: 37px;
    background: rgba(0,0,0,.8) !important;
    border-radius: 0 0 12px 12px;
    z-index: -1;
}

.key-value {
    position: absolute;
    bottom: 0px;
    right: 6px;
    width: 125px;
    font-size: 20px;
    opacity: 0;
    animation: cycle 60s infinite;
}

.key-value:nth-child(4) {
    animation-delay: 20s;
}

.key-value:nth-child(5) {
    animation-delay: 40s;
}

.key-value:nth-child(6) {
    animation-delay: 60s;
}

@keyframes cycle {
    0% { opacity: 0; }
    2% { opacity: 1; }
    33% { opacity: 1; }
    35% { opacity: 0; }
}